<!DOCTYPE html>

<html xmlns:th="https://www.thymeleaf.org">
<body>

<h2 th:text="${#hello.helloTextOfConfig}">web-flux 通信</h2>
<h3>[[${monoJust.block()}]]</h3>
<h3>[[${monoZip.block()}]]</h3>
<h3>[[${FluxJust.block()}]]</h3>
<h3>[[${FluxZip.block()}]]</h3>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
<!-- 意外とハマる th:srcで読み込み場合はresources配下に必ずstatic/jsなどでディレクトリを用意する　cssの場合はstatic/cssのようにする-->
<script th:src="@{/js/app.js}" type="text/javascript"></script>
</body>

</html>